html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Varela Round', sans-serif;
}


form {
  padding: 15px;
}

label {
  cursor: pointer;
}


input {
  display: block;
  overflow: visible;
  width: 100%;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a { 
  text-decoration: none;
  list-style-type: none;
  color: inherit; 
  outline: none;
}

a:hover {
  text-decoration: none;
}

h3{
  font-size: 30px;
  color: #3c3c3c;
  line-height: 1.5em;
}

input:focus,
select:focus, {
  outline:none !important;
  box-shadow:none;
  border-color:transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
}

::placeholder{
  color: #beb8b8;
}

.navbar-nav .nav-link {
  top: 24%;
  left: 27%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #caccc6;
  color: white;
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  margin: 15px;
}

.buttonalpha1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #78c800;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
}

.buttonalpha2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #78c800;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
}

.buttonalpha3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #78c800;
  color: white;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
}

.buttonalpha1 a:hover {
  color: lightblue;
  text-decoration: none;
}

.buttonalpha2 a:hover {
  color: lightblue;
  text-decoration: none;
}

.buttonalpha3 a:hover {
  color: lightblue;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2.25rem;
  margin: 16px ;
  padding: 110px 70px;
  font-size: 50px;
}

.card:hover {
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}

.activeCard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2.25rem;
  margin: 16px;
  padding: 110px 70px;
  font-size: 50px;
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}

.choice {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  margin: 16px;
  padding: 12px 16px;
  font-size: 19px;
}

.choice:hover {
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}

.activeChoice {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  margin: 16px;
  padding: 12px 16px;
  font-size: 19px;
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}

.inActiveCards{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  margin: 16px;
  padding: 12px 16px;
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.13);
  color: rgba(184, 181, 181, 0.67);
  pointer-events: none
}

.option {
  display: flex;
  width: 80px;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  margin: 16px;
  padding: 10px 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.option:hover{
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}

.activeOption {
  display: flex;
  width: 80px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  margin: 16px;
  padding: 10px 50px;
  font-size: 20px;
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}

#closebtn {
  font-weight: bold;
  color: grey;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
}

h4{
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 12px;
  text-transform: none;
}

#nextLesson {
  background-color: rgb(120, 200, 0);
  color: white;
  text-decoration-line: none;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.popup-close{
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.login-input:after {
  border-top: 2px solid #e5e5e5;
}

.nav-item:hover{
  background: none;
  color: #afafaf;
}

.outerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessonsLink {
  pointer-events: none;
  cursor: none;
}
